html, body, p {
  margin: 0;
  padding: 0;
  background-image: url("/src/images/stars.jpg");
}

.top-nav { 
  height: 30px;
  width: 100%;
  background-color: rgba(2, 2, 2, 0.404);
}
.nav {
  background-color: rgb(0, 0, 0);
  width: 15vh;
  height: 100%;
  padding-right: 0;
  margin-right: 0;
  padding-top: 50vh;
  float: left;
  height: 100vh;
  color: rgb(255, 255, 255);
  background-color: rgba(2, 2, 2, 0.404);
}

.nav a, ul {
  color: rgb(255, 255, 255);
  list-style-type: none;
}

.nav a:link {text-decoration: none;}
.nav a:visited {text-decoration: none;}
.nav a:hover {text-decoration: none; color: white; background-color: rgb(108, 128, 18); border-radius: 5px;}
.nav a:active {text-decoration: none;}

.block-text {
  background-color: rgba(2, 2, 2, 0.404);
  height: 200px;
  width: 300px;
  border-radius: 5vh;
  margin-left: 20vh;
  margin-top: 11vh;
  color: white;
  font-size: 15px;
}

.block_text_2 {
  height: 30vh;
  width: 30vh;
  margin-top: -63vh;
  margin-left: 105vh;
  border-radius: 5vh;
  background-color: rgba(2, 2, 2, 0.404);
  color: rgb(190, 10, 40);
}

.block_text_3 {
  height: 30vh;
  width: 30vh;
  border-radius: 5vh;
  margin-top: -63vh;
  margin-left: 105vh;
  background-color: rgba(2, 2, 2, 0.404);
  color: rgb(161, 116, 245);
}

.timeline_block {
  height: 30vh;
  width: 80vh;
  border-radius: 5vh;
  margin-top: 2vh;
  margin-left: 20vh;
  background-color: rgba(2, 2, 2, 0.404);
}

.bar_block {
  height: 30vh;
  width: 30vh;
  border-radius: 5vh;
  margin-top: 3vh;
  margin-left: 20vh;
  background-color: rgba(2, 2, 2, 0.404);
  color: rgb(230, 185, 40);
}

.pie_block {
  height: 30vh;
  width: 30vh;
  border-radius: 5vh;
  margin-top: -30vh;
  margin-left: 63vh;
  background-color: rgba(2, 2, 2, 0.404);
  color: pink;
}

.polar_block {
  height: 30vh;
  width: 30vh;
  border-radius: 5vh;
  margin-top: -30vh;
  margin-left: 105vh;
  background-color: rgba(2, 2, 2, 0.404);
  color: rgb(133, 241, 82);
}

p {
  color: white;
  float: left;
}

h{
  margin-top: 0;
  float: left;
  font-size: 80px;
  margin-left: 5vh;
  color: rgba(255, 255, 255, 0.555);
}

h2 {
  font-size: 30px;
  margin-left: 16vh;
  color: rgb(177, 125, 125);

}



p1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 10px;
}

/* GRAPHS */

.bargraph {
  height: 80vh;
  width: 80vh;
  margin-left: 65vh;
  margin-top: 10vh;
} 

.piegraph {
  height: 40vh;
  width: 40vh;

  margin-top: -60vh;
  float: right;
} 

.areachart {
  height: 40vh;
  width: 40vh;
  margin-top: -120vh;
  
  float: right;
}


.piegraph-dash {
  height: 40vh;
  width: 40vh;
  margin-top: 20vh;
  float: right;
} 

.areachart-dash {
  height: 40vh;
  width: 40vh;
  margin-top: -80vh;
  margin-left: 100vh;
  float: right;
}

.line_chart {
  height: 500p;
  width: 500px;
  float: left;
  margin-top: 30vh;
}

.dash-line-chart {
  height: 400px;
  width: 500px;
  margin-left: 10vh;
}

.left-panel {
  width: 40%;
  height: 80vh;
  float: left;
}

.tableItem {
  width: 80%;
  height: 55px;
  border-radius: 10px;
  background-color: rgb(90, 184, 71);
  margin-top: 10px;
}

.tableItem p{
  float: left;
  margin-left: 15px;
}

.tableItem img{
  float: left;
  margin-left: 25px;
  width: 45px;
  height: 45px;
}

.select {
  margin-left: 20vh;
  margin-top: 15vh;
  
}

.select-results {
  background-color: rgba(119, 255, 192, 0.5);
  height: 30vh;
  width: 60vh;
  margin-left: 20vh;
  margin-top: 5vh;
  border-radius: 10px;
}






