html, p, body {
  margin: 0;
  padding: 0; 
  background-color: rgb(45, 39, 39);
}

.App {
  background-color: rgb(45, 39, 39);
}

.top-nav { 
  height: 30px;
  width: 100%;
  background-color: rgb(19, 19, 19);
  border-radius: 15px;
  margin-top: 2vh;
  margin-left: 2vh;
  

}
.nav {
  width: 20vh;
  height: 130vh;
  padding-top: 50vh;
  float: left;
  background-color: rgb(19, 19, 19);
  border-radius: 15px;
  margin-top: 1vh;
  margin-left: 2vh;

}

p3 {
  color: white;
  position: absolute;
  margin-left: -15vh;
  margin-top: 19vh;

}

.nav a, ul {
  color: rgb(255, 255, 255);
  list-style-type: none;
  line-height: 5vh;
  text-align: center;
  margin-left: 15px;
}

a {

  line-height: 5vh;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.nav a:link {text-decoration: none; line-height: 5vh;}
.nav a:visited {text-decoration: none;}
.nav a:hover {text-decoration: none; color: white; background-color: rgba(124, 121, 121, 0.452);
  border-radius: 5px; line-height: 5vh; box-shadow: 0px 5px 20px rgba(6, 238, 255, 0.4);
  transform: translateY(-7px);}
.nav a:active {text-decoration: none;}

.nav-icons1 {
  height: 3vh;
  width:3vh;
  position: absolute;
  margin-top: 57vh;
  margin-left: 4vh;
  background-image: url("/src/images/chart.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.astro-1 {
  height: 15vh;
  width: 15vh;
  position: absolute;
  margin-top: 5vh;
  margin-left: 4vh;
  background-image: url("/src/images/astro1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40vh;
}

.nav-icons2 {
  height: 3vh;
  width:3vh;
  position: absolute;
  margin-top: 62vh;
  margin-left: 4vh;
  background-image: url("/src/images/line2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-icons3 {
  height: 3vh;
  width:3vh;
  position: absolute;
  margin-top: 52vh;
  margin-left: 4vh;
  background-image: url("/src/images/dash3.png");
  background-repeat: no-repeat;
  background-size: cover;
}


/* DASHBOARD */
.block-text {
  height: 150px;
  width: 750px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  margin-left: 25vh;
  margin-top: 1vh;
  color: white;
  font-size: 12px;
  text-align:start;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 3vh;
  
}

p2 {
  font-size: 15px;
}

.block_text_2 {
  height: 20vh;
  width: 20vh;
  margin-top: -82vh;
  margin-left: 724px;
  border-radius: 30vh;
  background-image: url("/src/images/astro4.jpeg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -7vh;
}

.timeline_block {
  height: 30vh;
  width: 80vh;
  border-radius: 5vh;
  margin-top: 2vh;
  margin-left: 20vh;
  background-color: rgba(2, 2, 2, 0.80);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
}

.timeline-timeline-block {
  height: 35vh;
  width: 80vh;
  border-radius: 5vh;
  margin-top: 15vh;
  margin-left: 20vh;
  background-color: rgba(2, 2, 2, 0.404);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
}

.polar_block {
  height: 31vh;
  width: 30vh;
  border-radius: 5vh;
  margin-top: -31vh;
  margin-left: 158vh;
  background-color: rgba(2, 2, 2, 0.404);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);

}

.bar_block {
  height: 31vh;
  width: 40vh;
  border-radius: 5vh;
  margin-top: 3vh;
  padding-top: 3vh;
  margin-left: 20vh;
  background-color: rgba(2, 2, 2, 0.404);
  color: rgb(230, 185, 40);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);

}

.dash-bar {
  margin-top: -2vh;
}

.pie_block {
  height: 31vh;
  width: 40vh;
  border-radius: 5vh;
  margin-top: -31vh;
  margin-left: 63vh;
  background-color: rgba(2, 2, 2, 0.404);
  color: pink;
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
}

.dash-pie-graph {
  height: 30vh;
  width: 30vh;
  margin-left: 5vh;  
} 



p {
  color: white;
  float: left;
}

h{
  margin-top: 0;
  float: left;
  font-size: 60px;
  margin-left: -2vh;
  margin-top: 1vh;
  padding-left: 5vh;
  padding-right: 2vh;
  color: rgba(255, 255, 255);
  background-color: rgb(19, 19, 19);
  border-radius: 10px;
}

h2 {
  font-size: 30px;
  margin-left: 16vh;
  color: rgb(177, 125, 125);

}



p1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 10px;
}


/* GRAPHS */

.bargraph {
  height: 80vh;
  width: 80vh;
  margin-left: 65vh;
  margin-top: 10vh;
} 



.areachart {
  height: 40vh;
  width: 40vh;
  margin-top: -120vh;
  
  float: right;
}

.areachart-dash {
  height: 40vh;
  width: 40vh;
  margin-top: -80vh;
  margin-left: 100vh;
  float: right;
}

.line_chart {
  height: 500p;
  width: 500px;
  float: left;
  margin-top: 30vh;
}

.timeline-timeline {
  height: 500px;
  width: 700px;
  margin-left: 10vh;
}

.timeline-timeline-block {
  height: 400px;
  width: 1130px;
  margin-left: 20vh;
  padding-top: 1vh;
  padding-left: 10vh;
}

.dash-line-chart {
  height: 400px;
  width: 500px;
  margin-left: 10vh;
}

.left-panel {
  width: 40%;
  height: 80vh;
  float: left;
  background-color: aliceblue;
}

/* COMPARISON */

.con {
  width: 75vh;
  height: 25vh;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.719);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
  margin-top: 3vh;
  margin-left: 20vh;
  border-radius: 5vh;
}

.con2 {
  width: 75vh;
  height: 25vh;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.719);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
  margin-top: 3vh;
  margin-left: 20vh;
  border-radius: 5vh;
}

.comp-bar {
  padding-left: 5vh;
  padding-top: vh;
  width: 60vh;
}

.comp-bar-block {
  height: 400px;
  width: 67vh;
  margin-left: 70vh;
  margin-top: 3vh;
  border-radius: 5vh;
  background-color: rgba(2, 2, 2, 0.404);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
}

.comp-pie {
  height: 350px;
  width: 350px;
  margin-top: 2vh;
  margin-left: 3vh;
}


.comp-pie-block {
  height: 40vh;
  width: 40vh;
  border-radius: 5vh;
  margin-top: -42vh;
  margin-left: 142vh;
  background-color: rgba(2, 2, 2, 0.404);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
}

h5 {
  color: white;
  text-align: center;
  font-size: 5px;
}

.comp-polar {
  width: 35vh;
  width: 305h;
  margin-left: 2vh;
  margin-top: 2vh;
}

.comp-polar-block {
  height: 40vh;
  width: 40vh;
  border-radius: 5vh;
  margin-top: -40vh;
  margin-left: 25vh;
  padding-top: 1vh;
  background-color: rgba(2, 2, 2, 0.404);
  color: rgb(161, 116, 245);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
}

.con2 {
  background-color: rgba(2, 2, 2, 0.404);
  width: 120vh;
  height: 30vh;
}

select  {
  background-color: rgb(79, 116, 128) !important;
  border-radius: 5px;
  border-style: none;
  color: white;
  margin-top: 5vh !important;
  margin-left: 32vh !important;
}

.comp_img {
  height: 25vh;
  width: 130vh;
  margin-top: 20vh;
  margin-left: 40vh;
}

.comp_image1 {
  height: 25vh;
  width: 25vh;
  margin-top: 10vh;
  border-radius: 5vh;
  color: rgb(190, 10, 40);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
  background-image: url("/src/images/uranus.avif");
  background-size: cover;
}

.comp_image2 {
  height:25vh;
  width: 25vh;
  margin-left: 35vh;
  margin-top: -25vh;
  border-radius: 5vh;
  color: rgb(190, 10, 40);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
  background-image: url("/src/images/neptune.jpg") ;
  background-size: cover;
  background-position: center;

}

.comp_image3 {
  height: 25vh;
  width: 25vh;
  margin-left: 70vh;
  margin-top: -25vh;
  border-radius: 5vh;
  color: rgb(190, 10, 40);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
  background-image: url("/src/images/jupiter.jpeg") ;
  background-size: cover;
}

.comp_image4 {
  height: 25vh;
  width: 25vh;
  margin-left: 105vh;
  margin-top: -25vh;
  border-radius: 5vh;
  color: rgb(190, 10, 40);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
  background-image: url("/src/images/mars.jpeg") ;
  background-size: cover;
  background-position: center;

}

.comp_img2 {
  height: 25vh;
  width: 130vh;
  margin-left: 40vh;
}

.comp_image5 {
  height: 25vh;
  width: 25vh;
  margin-top: 10vh;
  border-radius: 5vh;
  color: rgb(251, 196, 65);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
  background-image: url("/src/images/moon.jpg") ;
  background-size: cover;
}

.comp_image6 {
  height:25vh;
  width: 25vh;
  margin-left: 35vh;
  margin-top: -25vh;
  border-radius: 5vh;
  color: rgb(190, 10, 40);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
  background-image: url("/src/images/saturn.jpeg") ;
  background-size: cover;
  background-position: center;

}

.comp_image7 {
  height: 25vh;
  width: 25vh;
  margin-left: 70vh;
  margin-top: -25vh;
  border-radius: 5vh;
  color: rgb(190, 10, 40);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
  background-image: url("/src/images/earth.jpeg") ;
  background-size: cover;
  background-position: center;

}

.comp_image8 {
  height: 25vh;
  width: 25vh;
  margin-left: 105vh;
  margin-top: -25vh;
  border-radius: 5vh;
  color: rgb(190, 10, 40);
  box-shadow: 0px 5px 15px rgba(168, 167, 167, 0.4);
  background-image: url("/src/images/venus.jpeg") ;
  background-size: cover;
  background-position: center;
}



